
.container {
    max-width: 1400px !important;
}

.fix-12-12 {
  max-width: 1400px!important;
}

.fix-6-12 {
  max-width: 660px!important;
}

.slide {
  /*color: #323f50 !important;*/
  color: black !important;
}

.slides {
  /*color: #323f50 !important;*/
  color: black !important;
}

.content {
  background-color: white !important;
}

svg {
  fill: #39b69d !important;
}

ul li::before {
  color: red !important;
}

sup {
  vertical-align: super;
}

p {
  font-size: 18px;
}

small {
  font-size: 12px;
  /*color: #323f50 !important;*/
  color: black !important;
  /*opacity: .8!important;*/
}

.opacity-8 {
  opacity: 1 !important;
}

#map1 { 
  height: 400px;
}

#map2 {
  height: 320px;
}

.mycluster {
  color: white !important;
  width: 40px;
  height: 40px;
  background-color: #39b69d !important;
  text-align: center;
  border-radius: 30px;
  padding-top: 8px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #39b69d;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 17px;
  width: 17px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #39b69d;
}

input:disabled + .slider {
  background-color: #ccc;
}

input:focus + .slider {
  box-shadow: 0 0 1px #39b69d;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
