body {
  font-family: 'Calibri', sans-serif !important;
}

h1 {
  font-family: 'Calibri', sans-serif !important;
  font-size: 1.3em !important;
}

h2 {
  font-family: 'Calibri', sans-serif !important;
  font-size: 1.1em !important;
}

h3 {
  font-family: 'Calibri', sans-serif !important;
  font-size: .9em !important;
}

p {
  font-family: 'Calibri', sans-serif !important;
  font-size: 0.6em !important;
}

span {
  font-family: 'Calibri', sans-serif !important;
  font-size: 0.6em !important;
}

small {
  font-family: 'Calibri', sans-serif !important;
  font-size: 0.4em !important;
}

sup { 
  vertical-align: super !important;
  font-size: smaller !important;
}

img {
  border: 0 !important;
  box-shadow: none !important;
}

img.people {
  border-radius: 50% !important;
  margin: 0px !important;
}


/* Table styles */

table {
  width: 100%;
}

td {
  width: 50%;
  text-align: center !important;
  vertical-align: middle !important;
  border-bottom: 0px !important;
}

td.img {
  width: 15%;
  text-align: right !important;
  vertical-align: middle !important;
}

td.personal-data {
  width: 35%;
  text-align: left !important;
  vertical-align: middle !important;
}

/* */

div.viz-common {
  padding-bottom: 0.1em;
  border-bottom: 1px dashed gray;
  margin-bottom: 0.1em;
  height: 0.8em;
}

div.viz-common small {
  vertical-align: middle;
  font-size: 0.3em !important;
}

div.viz-common select {
  vertical-align: middle;
  font-size: 0.3em !important;
}

/* Map styles */

path.countriesFigure {
  fill: #fff;
  stroke: #ccc;
  stroke-width: .5px;
}